*{
    margin: 0;
    padding: 0;
    border: 0;
}

.container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "cabezal"
    "cuerpo"
    "pie";
}

.cabezal {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "barra_navegacion"
    "titulo";
    grid-area: cabezal;
}

.barra_navegacion { grid-area: barra_navegacion; }

.titulo { grid-area: titulo; }

.cuerpo {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "noticia1 noticia2 notas"
    "noticia3 noticia4 notas";
    grid-area: cuerpo;
}

.noticia1 { grid-area: noticia1; }

.noticia2 { grid-area: noticia2; }

.noticia3 { grid-area: noticia3; }

.noticia4 { grid-area: noticia4; }

.notas { grid-area: notas; }

.pie {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "redes_sociales links_asociados politica_privacidad"
    "copyright copyright copyright";
    grid-area: pie;
}

.copyright { grid-area: copyright; }

.redes_sociales { grid-area: redes_sociales; }

.links_asociados { grid-area: links_asociados; }

.politica_privacidad { grid-area: politica_privacidad; }

.menu_links{
    height: 100%;
    transition: transform .5s;
    /*display: flex;*/
    display:inline;
}

.menu_item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip:polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu_arrow{
    transform: var(--transform);
    transition: transform .3s;
}

.menu_nesting{
    list-style: none;
    transition:clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    /* width: max-content; */
}

.menu_link--inside:hover{
    background-color: purple;
}

.menu_item:hover{
    --clip:polygon(0 0, 100% 0, 100% 100%, 0% 100%);    
}

.barra_navegacion{
    background-color: black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#fecha_actual{
    color: white;
}