#body{
    /* esto hace que el alto del body sea el 100% de la pantalla. */
    height: 100vh;
}

#imagenID{
    position: fixed;
}

.cursorOculto {
    /* oculta el cursor sobre el elemento al cual se le agregue esta clase*/
    cursor: none;  /* <-- lo dejo comentado porque dañaba la calidad de vida del .... desarrollador */ 
}

.ocultarImagen{
    visibility: hidden;
}