*{
    border: 0;
    padding: 0;
    margin: 0;
}


body{
    background-color: black;
}

.barra-navegación{
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: teal;
}

.boton-nav{
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}
#git{
    background-color: white;
    border-radius: 38%;
    margin-top: 6px;
    margin-left: 6px;
}

#top-derecho{
    position: relative;
    right: 0;
    margin-top: 1vw;
    margin-right: 1vw;
}

h1{
    text-align: center;
    color: goldenrod;
    font-family: sans-serif;
    background-color: gray;
    padding: 2px 0px;
    border-width: 2px;
    border-style:solid;
    border-color: sandybrown;
}

.subtitulo{
    color: gold;
}

a{
    color: whitesmoke;
}
a:hover{
    color: goldenrod
}