*{
    border: 0;
    margin: 0;
    padding: 0;
}


.container_grid {  display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 0.5fr 4fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "cabezal cabezal cabezal"
    "cuerpo cuerpo cuerpo"
    "pie pie pie";
}

.cabezal {  display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "logo menu .";
    grid-area: cabezal;
    background-color: #E400FF; /* acordarme de cambiar a negro en modo oscuro */
}

.logo { grid-area: logo; }

.menu { grid-area: menu; }

.cuerpo {  display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ".";
    grid-area: cuerpo;
}

.pie {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "contacto_redes contacto_redes mapa";
    grid-area: pie;
    background-color: black;
}

.contacto_redes { grid-area: contacto_redes; 
color: white;}

.mapa { grid-area: mapa; 
    padding: 3%;
}


.espaciado_item_barra{
    padding-left: 20%;
}

.redondeo{
    border-radius: 100%;
}

.logo_redes{
    margin-top: 2px;
    width: 30px;
    height: 30px;
}

ul{
    list-style: none;
}

.iluminado{
    background-color: #E400FF !important;
}

.oscuro{
    background-color: black !important;
}

.alinear{
    display: inline-grid !important;
    margin-left: 4px;
}

.espaciado{
    padding-left: 24px;
}

.letras_blancas{
    color: white !important;
}

.formulario{
    background-color: blueviolet;
    padding: 2%;
    width: min-content;
    height: min-content;
    border: 2px solid black;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 15%;
}

body{
    background-image: linear-gradient(135deg,#40027a,#5907a5,#8400ff,#ff00aa,#f35fa9,#f17b7b);
    background-size: 100%;
    animation: fondo_animado 20s infinite;
}

@keyframes fondo_animado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}